<div>
  <%= flash[:notice] %>
</div>

<% if @list.errors.any? %>
  <%= @list.errors.count %>error prohibited this book from being saved:
  <ul>
    <% @list.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<p>
<strong>Title:</strong>
<%= @list.title %>
</p>

<p>
<strong>Body:</strong>
<%= @list.body %>
</p>

<%= link_to "Edit", edit_list_path(@list.id) %>
<%= "|"%>
<%= link_to "Back", "/index" %>